body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
header {
    justify-content: center;
    flex-shrink: 0;
    border-bottom: 1px solid #e7e9fc;
    align-items: center;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    }  
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}
header> .container {
    display: flex;
}    
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    align-items: center;
}
.navigate {
    color: #2E2F42;
    display: flex;
    align-items: center;
    margin-right: auto;
   
}
.web {
    color: #4D5AE5; 
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    align-items: center;
    
}
.studio {
    color: #2E2F42;
    align-items: center;
}
.nav {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    align-items: center;
    display: block;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.menunav{
    display: flex;
    gap: 40px;
}
.nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

}
.menunav .nav:hover, .menunav .nav:focus {
    color: #404bbf;
}    
address {
    font-style: normal;
}
.mailto {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.menuaddres .tel:hover,
.menuaddres .tel:focus {
    color: #404bbf;
}
.menuaddres {
    color: #434455;
    display: flex;
    gap: 40px;
}
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-officejpg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    background-size: cover;
    margin: 0 auto;

}
h1 {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
}
.for-your-bisnes {
    max-width: 496px;
}
.button-order {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .button-order:hover {
    background-color: #404BBF;
}
.button-order:focus {
    background-color: #404BBF;
}
.section-strategy {
    padding: 120px 0;
}
.hh-strategy  {
    color: #2E2F42;
}
 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
 }
.list-strategy {
    display: flex;
    gap: 24px;
}
.list-item-strategy {
    flex-basis: calc((100% - 3*24px) / 4);
}
.icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.h-strategy {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.p-strategy {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-tree {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.hour-team {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.list-our-team {
    display: flex;
    gap: 24px;
}
.mark-team {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 3*24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.mark-div {
    padding: 32px 0;
}
.mark {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.p-our-team {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.soc-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.soc-icon-title {
    width: 40px;
    height: 40px;
}
.soc-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icon-link:hover, 
.soc-icon-link:focus {
    background-color: #404bbf;
}
.soc-icon-soc {
    fill: #f4f4fd;
}
.portfolio {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-list-item {
    width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-text {
    position:relative;
    overflow: hidden;
}
.portfolio-list-item:hover .text {
    transform: translateY(0%);
}
.text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfokio-app {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 226px 8px 16px;
    text-wrap: nowrap;
}
.portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.p-portfolio {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer>.container {
    display: flex;
    align-items: baseline;
}
.footer-logo {
    margin-right: 120px;
}
.media-soc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.list-media-soc {
    display: flex;
    gap: 16px;
}
.item-media-soc {
    width: 40px;
    height: 40px;
}
.soc-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.soc-link:hover {
    background-color: #31d0aa;
}
.soc-link:focus {
    background-color: #31d0aa;
}
.logo-svg {
    fill: #f4f4fd;
}

.p-footer {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.web-footer {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    margin-bottom: 16px;
    display: inline-block;
}
.studio-footer {
    color: #f4f4fd;
    display: inline-block;
}
.footer-item {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.footer-form {
    display: flex;
    gap: 24px;
}
.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}
.footer-input::placeholder {
    color: #ffffff;
}
.form-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.sumbit-icon {
    margin-left: 16px;
}
ul, ol {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
.backdrop {
 width: 100%;
 height: 100%;
 position: fixed;
 top: 0;
 background: rgba(46, 47, 66, 0.40);
 transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-black {
    color: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .icon-close-black {
    fill: #ffffff;
}
 .close-btn:focus .icon-close-black {
    fill: #ffffff;
}

.close-btn {
    margin-left: auto;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover {
    background-color: #404bbf;
    border: none;
}
.close-btn:focus {
    background-color: #404bbf;
    border: none;
}
.modal-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 360px;
    height: 24px;
    margin-bottom: 16px;
    top: 72px;
    
}
.modal-form {
    
}
.input-icons {
    position: relative;
}
.input-modal {
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid rgba( 46, 47, 66, 0.4 );
    height: 40px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.input-modal:focus {
    border-color: #4D5AE5;
    fill: #4D5AE5;
}
.input-modal:focus + .modal-icon {
    fill: #4D5AE5;
}
.modal-label {
    display: block;
    color:#8E8F99;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.modal-conteiner {
    margin-bottom: 8px;
}
.modal-conteiner-text {
    margin-bottom: 16px;
}
.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}
.modal-text {
    display: flex;
    width: 360px;
    height: 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid rgba (46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus {
    border-color: #4D5AE5;
}
.checkbox {
    margin-bottom: 24px;
}
.label-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.label-privacy>.privacy-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.policy-accent {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.checkbox-input:checked + .label-privacy>.policy-accent {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.lebel-policy {
    color: #4d5ae5;
    text-decoration: underline;
}
.submit-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
}